*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.cache
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
*.nav
*.orig
*.swp
*~
.DS_Store
Thumbs.db
ocr-sdk/PaddleLite/
ocr-sdk/OpenCV/
ocr-sdk/cache/
app/cache/
.cache/
